<h2>Sign Up</h2>
<div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="signUpRequest.username" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="signUpRequest.email" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="signUpRequest.password" required>
  </div>
  <button type="submit">Sign Up</button>
</form>